@media (max-width: 1024px){
    .main-escandinavian{
        h1{
            font-size: map-get($font-size, uul);
        }
    }
}
@media (max-width: 768px){
    .main-escandinavian{
        h1{
            font-size: map-get($font-size, xxxl);
            text-align: center;
        }
    } 
}
@media (max-width: 500px){
    .main-escandinavian{
        h1{
            font-size: map-get($font-size, xl);
            text-align: center;
        }
    }
}
@media (max-width: 378px){
    .main-escandinavian{
        h1{
            font-size: map-get($font-size, md);
            text-align: center;
        }
    }
}