@media (max-width: 1024px){
    .main-mercedes h1{
        font-size: map-get($font-size, uul);
    }
}
@media (max-width: 650px){
    .main-mercedes h1{
        font-size: map-get($font-size, xxxl);
        text-align: center;
    }
}
@media (max-width: 375px){
    .main-mercedes h1{
        font-size: map-get($font-size, xl);
        text-align: center;
    }
}