header{
    position: fixed;
    width: 100%;
    padding: 0px 1.5rem;
    z-index: 20;
    .navbar{
        display: flex;
        @include flex(row,none,flex-end,center,none);
        list-style: none;
        gap: 1.25rem;
        .logo{
            background-repeat: no-repeat;
            margin: .3125rem;
            margin-top: .625rem;
        }
        .navbar-brand:hover{
            animation:flip;
            animation-duration: 1s;
        }
        .nav-link{
            text-decoration: none;
            color: $color-nav;
            font-family: Montserrat;
            font-weight: 500;
            font-size: map-get($font-size, xxs);
        }
        .nav-link:hover{
            animation: pulse;
            animation-duration: 1s;
        }
        .dropdown-menu{
            background-color: transparent;
            .dropdown-item{
                color: $color-terciario;
            }
        }
    }
}
