.main-aboutme{
    padding: 150px 0;
    width: 100%;
    background-color: $bg-principal;
    h1{
        text-align: start;
        color: $color-principal;
        top: 30%;
        left: 20%;
        font-size: map-get($font-size, uuul);
        font-family: Montserrat;
    }
    .titulo-aboutme{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .texto-aboutme{
        padding: 50px 150px;
        p{
            text-align: center;
            font-size: map-get($font-size, xxxl);
        }
    }
}
.grid-container{
    display: grid;
    background-color: $color-principal;
    width: 100%;
    @include grid(25% 25% 25% 25%, 30% 35% 35%, center, center);
    justify-items: center;
    align-items: center;
    margin-bottom: 0px;
    grid-template-areas: 
    "div3 div3 div7 div7"
    "div4 div1 div2 div8"
    "div5 div5 div6 div6"
    ;
    .div-1 {
        grid-area: div1;
        align-self: center;
        margin: 90px;
        font-size: map-get($font-size, ul);
        color: $color-terciario;
        font-family: Montserrat;
        font-weight: 500;
    }
    /* extends */
    
    .div-2 {
        @extend .div-1;
        grid-area: div2;
        margin: 50px;
        font-size: map-get($font-size, md);
        font-weight: 300;
    }
    .div-3 {
        grid-area: div3;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    .img-grids{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .div-4 {
        grid-area: div4;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    .div-5 {
        @extend .div-4;
        grid-area: div5;
    }
    .div-6 {
        @extend .div-4;
        grid-area: div6;
    }
    .div-7 {
        @extend .div-4;
        grid-area: div7;
    }
    .div-8 {
        @extend .div-4;
        grid-area: div8;
    }
    .section div3{
        width: 100%;
    } 
} 