.main-contactos{
    width: 100%;
    height: 80vh; 
    padding-top: 200px;   
    background-color: $bg-principal;
    display: flex;
    @include flex(column,none,center,center,none);
    gap: 15px;
    .titulo-contacto{
        color: $color-secundario;
    }
    #form-div{
        padding: 10px 20px;
        width: 600px;
        height: 600px;
        .formulario-contact{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .input-group{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .input-group input,
            .input-group textarea{
                font-size: map-get($font-size, xxs);
                color: $color-principal;
                border-style: none;
                padding: 10px 20px;
                background-color: $color-secundario;
                text-transform: uppercase;
            }
        }
    }
}